@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #252526;
    background-size: cover;
    background-repeat: no-repeat;
    color: ghostwhite;
    font-family: "Raleway", sans-serif;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 100%
}

button:focus {
    outline:0;
}


input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 30px;
}

input:focus {
    outline:0;
}

table {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    border: none;
}

.title {
    text-align: center;
}

/* https://www.color-hex.com/color-palette/66860 */
.income {
    background-color: #b0fdff;
}

.saving {
    background-color: #cdffbe;
}

.spending {
    background-color: #ff9a9a;
}